.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
}

.navbar-left, .navbar-center, .navbar-right {
  display: flex;
  align-items: center;
}

.navbar-logo {
  width: 50px; /* Adjust logo size as needed */
}

.navbar-link {
  margin: 0 10px;
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.navbar-right .navbar-icon {
  margin-left: 20px;
  font-size: 24px;
  cursor: pointer;
}

.navbar-button {
  background-color: white;
  border: 1px solid black;
  color: black;
  padding: 5px 10px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
}

.navbar-button:hover {
  background-color: #f0f0f0;
}

.profile-container {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  color: black;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
  padding: 10px;
  text-decoration: none;
  color: black;
  display: block;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}
